examples/debug-next-bus.json
[
    {
        "id": "flow1",
        "type": "tab",
        "label": "Zenbus Next Bus",
        "disabled": false,
        "info": ""
    },
    {
        "id": "comment1",
        "type": "comment",
        "z": "flow1",
        "name": "Zenbus Next Bus - Example",
        "info": "Polls the Zenbus API every 10 seconds and outputs the next bus ETA.\n\nEdit the zenbus node to set your alias, itinerary and stop IDs.\nFind them in the URL at https://zenbus.net",
        "x": 200,
        "y": 100,
        "wires": []
    },
    {
        "id": "zenbus1",
        "type": "zenbus-next-bus",
        "z": "flow1",
        "name": "Zenbus ETA",
        "alias": "gpso",
        "itinerary": "5426824545828864",
        "stop": "5366312231501824",
        "interval": "10",
        "x": 200,
        "y": 200,
        "wires": [["debug1"]]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "flow1",
        "name": "Bus ETA Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.next.etaMinutes",
        "statusType": "auto",
        "x": 450,
        "y": 200,
        "wires": []
    }
]
